<%= form_for(college_employee) do |f| %>
  <% if college_employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(college_employee.errors.count, "error") %> prohibited this college_employee from being saved:</h2>

      <ul>
      <% college_employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :company %>
    <%= f.text_area :company %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_area :location %>
  </div>

  <div class="field">
    <%= f.label :phone_no %>
    <%= f.text_field :phone_no %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
